html,body{
  height:100%;
  min-width:1200px;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center;
  color: #2c3e50;
  margin-top: 10px; */
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  height: 100%;
}
.container-fluid{
  padding:0;
}

/*************布局*************/
#app > header,
#app > footer{
  height:60px;
}

#app > bodyer{
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;

  display: -webkit-box;
  display: -moz-box;
  display: box;

  border: 5px solid #f0f0f0;
}
#app > bodyer > div.page-left-menu{
  width:240px;
  overflow: auto;
}
#app > bodyer > div.page-v-line{
  width:5px;
  background-color: #f0f0f0;
}
#app > bodyer > div.page-right-content{
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;

  padding:5px;
  overflow-y: auto;
  overflow-x: hidden;
}

/**********导航菜单***********/
.page-nav ul{
  padding: 0;
  margin: 0;
}
.page-nav li{
  list-style-type: none;
  float: left;  
  text-align: center;
}
.page-nav li:not(:first-child){
  width:80px;
}
.logo{
  margin-right:20px;
}
.logo img{
  height: 25px;
}
a:hover{
  text-decoration: none;
}

/**********左侧菜单***********/
.left-menu-top-box{
  background-color:#495060;
  border-bottom:1px solid #bbb !important;
}
.left-menu-top-box > div{
  height:40px;
  text-align: center;
  padding-top:10px;
}

/**********顶部消息提示***********/
.common-node-message{
    width:100%;
    padding:15px;
    font-size:16px;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    position: fixed;
    z-index: 9999;
    top:0;
    left:0;
    color:#fff;
}
.common-node-message-success {
    background-color:#449d44;
    border-bottom:1px solid #398439;
}
.common-node-message-error {
    background-color:#c9302c;
    border-bottom:1px solid #ac2925;
}